{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<a class="post-link-container" href="{{url}}">
	<article class="{{post_class}}" {{#if image}} style="background-image: url({{image}}){{/if}}" >
	    <header class="post-header">
	        <div class="post-description">
	            <h2 class="post-title">{{{title}}}</h2>
	            {{! <h3 class="post-location">Caribbean sea of Panama <i class="icon-location"></i></h3> }}
	        </div>
	    </header>
	</article>
</a>

{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{! pagination}}
